.font {
	font-family: 'Major Mono Display', monospace;
}


body {
    background-color: #ffcc00 !important;
    padding: 0 5% 0 5%;
}
.container-fluid {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px black;
    /* height: auto; */
}
li a {
    color: #ffcc00;
}
form button {
    background-color: #ffcc00 !important;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.15);
}
.bci {
    background-image: url(../img//grFalls.jpg);
    background-size: cover;
}