.font {
    font-family: 'Major Mono Display', monospace;
}
a {
    text-decoration: none !important;
}


.peknucko {
    position: fixed;
    width: 40vw;
    height: 40vh;
    margin: 30vh 30vw;
    background-color: #fff;
    color: #ffcc00;
    border: 3px solid #ffcc00;
    z-index: 2;
    padding-top: 17vh;
    text-align: center;
}

.fa-bars {
    top: 92% !important;
}

th {
    font-family: 'Major Mono Display', monospace;
}
thead {
    background-color: #ffcc00;
}
.hide {
    /* background: #ffcc00; */
    display: none;
    padding: 5% 5% 0 5%;  
}
.btn-primary {
    background-color: #ffcc00 !important;
    border: none !important;
    padding: 1% !important;
    color: black !important;
    margin: 5vh 0 5vh 0 !important;
}
.btn-primary:hover {
    cursor: pointer;
}

label {
    font-family: 'Major Mono Display', monospace;
}

.kredit {
    position: absolute;
    top: 4vh;
    right: 2vw;
}

.menu {
    background-color: #ffcc00;
}

h1 a {
    color: black;
}

h1 a i {
    color: white;
    transition: .5s;
}

h1 a:hover {
    color: white;
    cursor: pointer;
}

h1 a:hover i {
    color: black;
}

form input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, .7) !important;
    border-color: #ffcc00 !important;
}
textarea:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, .7) !important;
    border-color: #ffcc00 !important;
}
form button:focus {
    box-shadow: none !important;
}

@media (max-width: 800px) {
    .btn-primary {
        padding: 5% !important;
    }
    .peknucko {
        position: fixed;
        width: 90vw;
        height: 40vh;
        margin: 20vh 4vw;
        padding-top: 15vh;
    }
}